{% extends 'header.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon"> <!-- Favicon-->
        <title>Dashboard - CRS</title>
        <meta name="description" content="Oero Laravel">
        <meta name="author" content="Oero Laravel">
                
        {% block css %}      
        <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets\plugins\morrisjs\morris.min.css' %}">
                <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
        {% endblock %} 
    </head>
        <body class="theme-blush">
            {% block content %}
        <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>All Applied Candidate <small class="text-muted">Welcome to Campus Recruitment System</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i> Home</a></li>
                                                            
                                                                                        <li class="breadcrumb-item active">All Applied Candidate</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card patients-list">
                <div class="header">
                    <h2><strong>Applied Candidate</strong> List</h2>
                    
                </div>
                <div class="body">
                        
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div class="tab-pane table-responsive active" id="All">
                            <table class="table m-b-0 table-hover">
                                <thead>
                                    <tr>                                       
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Enrollment</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Approve</th>
                                        <th>View Resume</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in context.aid %}
                                    <tr>
                                        <form action="{% url 'int-approval' pk=i.id %}" method="post">
                                            {% csrf_token %}
                                        <td><span class="list-icon"><img class="patients-img" src="{{i.s_id.s_picture.url}}" alt="{{i.id}}"></span></td>
                                        <td><span class="list-name">{{i.s_id.f_name}} {{i.s_id.l_name}}</span></td>
                                        <td>{{i.s_id.enroll}}</td>
                                        <td>{{i.s_id.contact}}</td>
                                        <td><input type="email" name="email" value="{{i.s_id.user_id.email}}" readonly></td>
                                        <td><input type="date" name="date"></td>
                                        <td><input type="time" name="time"></td>
                                        <td><input type="submit" class="btn btn-primary btn-round" id="submit" value="Approve"></td>
                                        </form>
                                        
                                        <td><button><a href="{% url 'view-resume' pk=i.s_id.id %}"><span class="" style="color: green;">Resume</span></a></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
        </section>
        {% endblock %}
        <!-- Scripts -->
        <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>

        <script src="{% static 'assets\bundles\mainscripts.bundle.js' %}"></script>
        <script src="{% static 'assets\bundles\morrisscripts.bundle.js' %}"></script>
        <script src="{% static 'assets\bundles\jvectormap.bundle.js' %}"></script>
        <script src="{% static 'assets\bundles\knob.bundle.js' %}"></script>
        <script src="{% static 'assets\js\pages\index.js' %}"></script>
                		<!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>