{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
        <link rel="icon" href="{% static 'assets\images\logo.svg' %}" type="image/x-icon"> <!-- Favicon-->
        <title>Change Password - Digital Society</title>
        <meta name="description" content="Smart Society">
        <meta name="author" content="Smart Society">
        
        <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">
        <!-- Custom Css -->
        <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
        <link rel="stylesheet" href="{% static 'assets\css\authentication.css' %}">
        <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
    </head>
        
        <body class="theme-cyan authentication sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">        
                <div class="navbar-translate n_logo">
                    <a class="navbar-brand" title="" target="_blank">Change Password</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
            </div>
        </nav>

        <div class="page-header">
            <div class="page-header-image" style="background-image:url({% static 'assets/images/jobbg.jpg' %})"></div>

                <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">
        <!-- Form Tag -->
                <form class="form" action="{% url 'update-privacy' %}" method="POST">
                    {% csrf_token %}
                    <div class="header">
                        <div class="logo-container">
                            <img src="{% static 'assets\images\LOGO.png' %}" alt="">
                        </div>
                        <h5>Change Password</h5>
                    </div>
                    {% if e_msg %}
                    <div class="alert alert-primary" role="alert">
                        {{e_msg}}
                    </div> 
                    {% endif %}
                    <div class="content">
                            <input type="hidden" placeholder="email" name="email" class="form-control" value="{{context.uid.email}}">                                              
                        <div class="input-group input-lg">
                            <input type="password" placeholder="Old Password" name="old_password" class="form-control">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                        <div class="input-group input-lg">
                            <input type="password" placeholder="New Password" name="new_password" class="form-control">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                        <div class="input-group input-lg">
                            <input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <input style="background-color: #4fc3f7;" type="submit" class="btn btn-primary btn-round btn-lg btn-block" value="UPDATE PASSWORD">
                        <h5><a href="{% url 'index' %}" class="link">Clik here to go back!</a></h5>
                    </div>
                </form>
            </div>
        </div>
    </div>

           
        </div>

        <!-- Scripts -->
        <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>    
        <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>
                
    </body>
</html>