{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
    <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <title>Forgot Password</title>
    <meta name="description" content="Oero Laravel">
    <meta name="author" content="Oero Laravel">

    <link rel="stylesheet" href="{% static 'assets\plugins\bootstrap\css\bootstrap.min.css' %}">

    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets\css\main.css' %}">
    <link rel="stylesheet" href="{% static 'assets\css\authentication.css' %}">
    <link rel="stylesheet" href="{% static 'assets\css\color_skins.css' %}">
    <style>
        .content {
            position: relative;
        }
        
        .cust-eye {
            position: absolute;
            top: 75px;
            left: 285px;
            z-index: 1;
        }
    </style>
</head>

<body class="theme-cyan authentication sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate n_logo">
                <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank">CRS</a>
            </div>
        </div>
    </nav>

    <div class="page-header">
        <div class="page-header-image" style="background-image:url({% static 'assets/images/reset.jpg' %})">
        </div>

        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <!-- Form Tag -->
                    <form action="{% url 'reset_password' %}" class="form" method="POST">
                        {% csrf_token %}
                        <div class="header">
                            <div class="logo-container">
                                <img class="zmdi zmdi-hc-spin" src="{% static 'assets\images\logo.svg' %}" alt="">
                            </div>

                            {% if e_msg %}
                            <div class="alert alert-danger" role="alert">
                                {{e_msg}}
                            </div>
                            {% endif %}
                        </div>
                        <h6>Reset Password</h6>
                        <div class="content">
                            <input type="hidden" class="form-control" name="email" value={{email}}>

                            <input type="password" class="form-control" name="otp" placeholder="Enter OTP"><br>
                            <div class="input-group input-lg">
                                <input type="password" class="form-control" name="new_password" placeholder="New Password" id="new_password">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-eye-off " onclick="hideshow('new_password','togglePassword')" id="togglePassword"></i>
                                    <!-- <i class="zmdi zmdi-lock"></i> -->
                                </span>
                            </div>

                            <div class="input-group input-lg">
                                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" id="confirm_password">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-eye-off " onclick="hideshow('confirm_password','toggleCPassword')" id="toggleCPassword"></i>
                                    <!-- <i class="zmdi zmdi-lock"></i> -->
                                </span>
                            </div>
                        </div>
                        <script>
                            function hideshow(id, spnid) {
                                var input = $("#" + id);
                                console.log(id);
                                console.log(input);
                                console.log(input.attr("type"));
                                if (input.attr("type") === "password") {
                                    input.attr("type", "text");
                                    document.getElementById(spnid).className = 'zmdi zmdi-eye';
                                } else {
                                    document.getElementById(spnid).className = 'zmdi zmdi-eye-off';
                                    input.attr("type", "password");
                                }
                            }
                        </script>
                        <div class="footer text-center">
                            <input type="submit" class="btn btn-primary btn-round btn-lg btn-block" value="Reset Password">
                            <h5><a href="{% url 'login' %}" class="link">Clik here to Login!</a></h5>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        window.history.forward();

        function noBack() {
            window.history.forward();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>
        $("body").on('click', '#togglePassword', function() {

            var input = $("#password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");

                document.getElementById('togglePassword').className = 'zmdi zmdi-eye';
            } else {
                input.attr("type", "password");
                document.getElementById('togglePassword').className = 'zmdi zmdi-eye-off';
            }
        });
    </script>

    <script src="{% static 'assets\bundles\libscripts.bundle.js' %}"></script>
    <script src="{% static 'assets\bundles\vendorscripts.bundle.js' %}"></script>
</body>

</html>